.next-btn,
.verify-btn,
.pay-bill,
.confirm,
.next,
.make-payment,
.join-meeting,
can-toggle label .can-toggle__switch:a,
.telhalth-spinner>div,
side-border,
.content-details1 .checkboxdiv input:checked~.checkdiv {
    background-color: #232e30 !important;
}

.wbem_search_bg {
    background-color: #ff7f4d !important;
}

.hospital-banner,
.wbem-search-banner {
    background-color: #232e30 !important;
}

@media screen and (max-width: 767px) {
    div#provider_info {
        align-items: revert !important;
    }

    .hospital-banner .hos-logo {
        width: 170px !important;
    }

}
